<template>
  <div class="home">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Lego Search Engine
          </h1>
          <h2 class="subtitle">
            Is there a Lego set of that?  Probably...
          </h2>
        </div>
      </div>
    </section>
    <section class="search">
      <div class="columns">
        <div class="column">
          <img alt="Lego Search logo" src="../assets/batgirl.jpg" width="250">
        </div>
        <form class="column" style="padding: 3em; margin: 3em;" v-on:submit.prevent="clickSearch">
          <p class="is-size-3">Search for a Set</p>
          <br/>
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="Search..." v-model="searchText">
            </div>
          </div>
          <b-button type="submit" class="is-primary is-large" @click="clickSearch">Search</b-button>
        </form>
      </div>
    </section>
    
  </div>
</template>

<script>
export default {
  name: 'home',
  data() {
    return { 
      searchText: ''
    }
  },
  components: {
    
  },
  methods: {
    clickSearch() {
      this.$router.push({ name: 'results', query: { search: this.searchText }})
    }
  }
}
</script>

<style>
.search {
  text-align: center;
}
</style>
