<template>
  <div class="results">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <h1 class="title">
                Search Results
                <span class="tag is-primary">
                  {{searchQ}}
                </span>
              </h1>
            </div>
            <div class="column">
              <div class="columns">
                <div class="column">
                  <div class="control has-icons-left">
                    <div class="select">
                      <select>
                        <option selected>Filter</option>
                        <option>Select dropdown</option>
                        <option>With options</option>
                      </select>
                    </div>
                    <span class="icon is-left">
                      <i class="fas fa-filter"></i>
                    </span>
                  </div>
                </div>
                <div class="column">
                  <div class="control has-icons-left">
                    <div class="select">
                      <select>
                        <option selected>Sort</option>
                        <option>Select dropdown</option>
                        <option>With options</option>
                      </select>
                    </div>
                    <span class="icon is-left">
                      <i class="fas fa-sort"></i>
                    </span>
                  </div>
                </div>
              </div>
                
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section class="resultslist">
        <div class="container">
            <search-results/>
        </div>
    </section>
  </div>
</template>

<script>
import SearchResults from '../components/SearchResults.vue'

export default {
    components: {
        SearchResults,
    },
    computed: {
      searchQ() {
        return this.$route.query.search
      }
    }
}
</script>