<template>
    <div class="card" style="margin-bottom: 1em;">
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img v-if="image" :src="image" :alt="name">
                    <img v-else src="/img/notfound.png" :alt="name"/>
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">
                    {{name}}
                </p>
                <div class="tags has-addons">
                    <span class="tag">
                        Set 
                        <span class="is-hidden-mobile">Number</span>
                    </span>
                    <span class="tag is-info">{{set_num}}</span>
                    <span class="tag is-hidden-mobile" style="margin-left: 1em;">
                        Number of Parts
                    </span>
                    <span class="tag is-hidden-tablet" style="margin-left: 1em;">
                        Parts
                    </span>
                    <span class="tag is-info">{{num_parts}}</span>
                </div>
            </div>
            <div class="media-right">
                <a :href="set_url" target="_blank">
                    <font-awesome-icon :icon="['fas', 'external-link-alt']" />
                </a>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['name', 'set_num', 'set_url', 'num_parts', 'image']
}
</script>