<template>
    <section class="container is-fluid">
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>

        <div class="results-list" v-if="results.length > 0">
            <result
                v-for="(result, index) in results"
                :key="index"
                :name="result.name"
                :image="result.set_img_url"
                :num_parts="result.num_parts"
                :set_url="result.set_url"
                :set_num="result.set_num"
            /> 
        </div>
        <div class="no-results" v-else>
            <div class="card" style="margin-bottom: 1em;">
                <div class="card-content">
                    <p class="title">No results 🙁</p>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
import * as sets from '../lib/sets';

import Result from './Result.vue';

export default {
    components: {
        Result,
    },
    data() {
        return {
            isLoading: true,
            results: []
        }
    },
    mounted() {
        sets.setSearch(this.$route.query)
        .then(res => {
            this.results = res.data.results;
            setTimeout(() => {
                this.isLoading = false;
            }, 350);
        })
    }
}
</script>